
__pycache__
*.pyc
.py[cod]
$py.class
.so
.Python
env
.venv/
venv
ENV
build
dist
.egg-info

.env
.key

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
.swp
.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlitsecrets.toml

# Logs
.log

# Temp
.tmp
.bak